# Visual Studio general
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# ASP.NET temp files
App_Data/
App_Code/
_ReSharper*/
*.resharper
*.DotSettings.user
*.cache

# NuGet
*.nupkg
*.snupkg
packages/
*.log
project.lock.json

# Entity Framework
Migrations/

# Copilot (índices que no se deben versionar)
**/CopilotIndices/
**/SemanticSymbols.db

# Rider & JetBrains
.idea/
*.sln.iml

# Sistema operativo
Thumbs.db
ehthumbs.db
*.DS_Store
*.swp
*.bak

# Logs
*.log
*.tlog
